@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  /* ----------MOBILE MENU------------ */

  .mobile-menu-soc-list {
    gap: 56px;
  }

  /* -----------TEAM----------- */

  .team.section {
    padding-bottom: 128px;
  }

  .team > .container {
    width: 294px;
  }

  /* -----------MODAL WINDOW----------- */

  .modal {
    width: 392px;
    height: 586px;
  }
}
