@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  /* -----------TEAM----------- */

  .team.section {
    padding-bottom: 128px;
  }

  .team > .container {
    width: 294px;
  }
}
