@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* -----------HERO----------- */
.hero.section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-tablet.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet@2x.jpg);
  }
}

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
  }

  /* -----------PREFERENCES----------- */
  .preferences-list {
    row-gap: 72px;
    column-gap: var(--card-set-gap);
  }

  .preferences-item {
    width: calc((100% - var(--card-set-gap)) / 2);
  }

  .preferences-subtitle {
    text-align: start;
  }

  /* -----------TEAM----------- */
  .team.section {
    padding-bottom: 104px;
  }

  .team > .container {
    width: 582px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: var(--card-set-gap);
  }

  .team-list > .item {
    width: calc((100% - var(--card-set-gap)) / 2);
  }
  /* ----------CUSTOMERS--------- */

  .customers > .container {
    width: 582px;
  }

  .customers-list {
    row-gap: 72px;
    column-gap: var(--card-set-gap);
  }

  .customers-item {
    width: calc((100% - 2 * var(--card-set-gap)) / 3);
  
  }

  /* -----------FOOTER----------- */

}
